* {
    margin: 0;
    padding: 0;
}

body {
   
    background-color: #f64343;
    overflow: hidden;
}

.gamecontainer {
    /* background-image: url(pics/background.jpg); */
    background-image: url(https://i.postimg.cc/J46k5qQd/background.jpg);
    background-repeat: no-repeat;
    background-size: 117vw 53vw;
    width: 100%;
    height: 100vh;
}

.meu {
    /* background-image: url(pics/character-removebg-preview-removebg-preview.png); */
    background-image: url(https://i.postimg.cc/Hkr7ZyZW/character-removebg-preview-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 285px;
    height: 161px;
    position: absolute;
    bottom: 0;
    left: 30px;
}

.obstacle {
    width: 92px;
    height: 144px;
    /* background-image: url(pics/mewtwo-mega-y-removebg-preview-removebg-preview.png); */
    background-image: url(https://i.postimg.cc/T3B5Z3FV/mewtwo-mega-y-removebg-preview-removebg-preview.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 80vw;
}

.animatemeu {
    animation: meu 0.7s linear;
}
.obsticalhero{
    animation:  obsticalhero 7s linear infinite;
}
 
    @keyframes meu {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 500px; /* Added 'bottom' property here */
    }

    100% {
        bottom: 0;
    }
}
@keyframes obsticalhero{
    0% {
        left: 100vw;
    }
    100% {
        left: -5vw;
    }
}

.gameover{
    visibility: hidden;
    position: relative;
    top:90px;
    font-size: 53px;
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
}
 #scorecount{
    font-size: 25px;
    color: #54212f;
    font-weight: bold;
    position: absolute;
    left: auto;
    right: 44%;
    top: 31px;
    border: 2px solid black;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;

}


#scorecount{
   
     color: rgb(202, 129, 129);
}